#set($layout="/layout/main.vm")

#define($title)
Main
#end

#define($referJs)
#end

#define($content)
    <center><h3> Hello Velocity Boot !! </h3></center>
    <center><h3> This is a demo login page !! </h3></center>

#end
